<style>
    .globe-wrapper svg {
        width: 100%
    }

    .globe-wrapper path {
        fill: none;
        stroke: black
    }

    .background {
        fill: rgba(200,212,220,.5);
        stroke-width: .8px;
        stroke: black;
    }

    .graticule {
        stroke: rgba(0,0,0, .2);
        stroke-width: .5px;
    }

    .country, .state {
        cursor: pointer;
    }

    .country .land, .state .land {
        fill: #f0f0f0;
        stroke: rgba(0,0,0, .2);
        stroke-width: .3px;
    }

    .state .overlay {
        fill: #FC0;
        fill-opacity: .5;
    }

    .bubble {
        fill: white;
        fill-opacity: .5;
        stroke-width: .5px;
        stroke: #000;
        cursor: pointer;
    }

    .bubble :hover {
        fill: grey;
        stroke: #000;
        fill-opacity: 1;
        stroke-width: 1px;
    }

    .country .overlay {
        fill: #FC0;
        fill-opacity: .2;
    }

</style>
<p>{{$ctrl.message}}</p>

<div class="globe-wrapper">
    <div class="globe"></div>
    <div class="info"></div>
    </div>
