<style>
    .globe-wrapper svg {
        width: 100%
    }

    .globe-wrapper path {
        fill: none;
        stroke: black
    }

    .background {
        fill: rgba(200,212,220,.5);
        stroke-width: .8px;
        stroke: black;
    }

    .graticule {
        stroke: rgba(0,0,0, .2);
        stroke-width: .5px;
    }

    .country {
        cursor: pointer;
    }

    .country .land, .state .land {
        fill: white;
        stroke: rgba(0,0,0, .2);
        stroke-width .3px;
    }

    .state .overlay {
        fill: blue;
        fill-opacity: 0;
    }

    .country .overlay {
        fill: orange;
        fill-opacity: 0;
    }
</style>
<p>{{$ctrl.message}}</p>

<div class="globe-wrapper">
    <div class="globe"><!-- D3 Globe will go here --></div>
    <div class="info"><!-- Text based information will go here --></div>
    </div>
