<h2>{{$ctrl.selected.name}}</h2>
<p>{{$ctrl.selected.content}}</p>

<ng-outlet></ng-outlet>

<d3-bar-chart ng-if="$ctrl.selected.name==='D3 Bar Chart'"></d3-bar-chart>
<d3-pie-chart ng-if="$ctrl.selected.name==='D3 Pie Chart'"></d3-pie-chart>
<d3-globe-chart ng-if="$ctrl.selected.name==='D3 Globe Chart'"></d3-globe-chart>
<d3-australia-chart ng-if="$ctrl.selected.name==='D3 Australia Chart'"></d3-australia-chart>
<d3-us-chart ng-if="$ctrl.selected.name==='D3 Us Chart'"></d3-us-chart>

<md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.share($event)" aria-label="Share">
  <md-icon md-svg-icon="share" ></md-icon>
</md-button>
